$main-color1: #00121F;
$main-color2: #F71931;
$main-color3: #FEFEFE;
$sec-color1: #187CFF;
$sec-solor2: #25FF3B;
$font: mentone, sans-serif;
$bweight: Bold;
$lweight: 'light';
$psize: 16px;
$osize: 40px;
$usize: 20px;


body {
    margin: 0;
}

.bio-con {
    display: grid;
    grid-column-gap: 1%;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 3% 5% 5% 5%;
    margin-left: auto;
    margin-right: auto;

    .hbio {
    font-weight: $bweight;
    font-size: $osize;
    font-family: $font;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-left: 2%;
    }

    .pbio {
    font-family: $font;
    font-style: normal;
    font-weight: 300;
    font-size: $psize;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 2%;
    }

    .bio-img {
    width: 99%;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    justify-self: center;
        align-self: center;
    }
}


.foot {
    height: 220px;
    background-color: $main-color1;
    color: $main-color3;
    font-family: $font;
    display: grid;
    grid-template-columns: 20% 15% 22% 13% 30%;
    grid-template-rows: 20% 15% 5%;
    margin-top: 18.1%;
    padding-top: 1.5%;

    .item1 {
        font-size: $osize;
        font-weight: $bweight;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        justify-self: end;
        align-self: center;
    }

    .item2 {
        font-size: $psize;
        font-weight: $lweight;
        font-style: normal;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        align-self: start;
    }

    .item3 {
        font-size: $psize;
        font-weight: $lweight;
        font-style: normal;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: center;
        align-self: start;
    }

    .item4 {
        font-size: $psize;
        font-weight: $lweight;
        font-style: normal;
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;
    }
}