$bg-color-button-red: #f71931;
$text-color-white: #FEFEFE;
$text-color-black: #00121F;
$secondary-color-lightblue: #187CFF;
$secondary-color-lightgreen: #25FF3B;
$main-color1: #00121F;
$main-color2: #F71931;
$main-color3: #FEFEFE;
$sec-color1: #187CFF;
$sec-solor2: #25FF3B;
$font: "mentone";
$bweight: Bold;
$lweight: 'light';
$psize: 16px;
$osize: 40px;
$usize: 20px;
@import url("https://use.typekit.net/xdx6tqt.css");
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "mentone";
}
$maincolor: #F71931;
$black: #00121f;
$white: #fefefe;

menu{
    width: 100%;
    height: 70px;
    background-color: $black;
    display: flex;
    justify-content: space-between;
    p{
        color: $white;
        font-size: 40px;
        line-height: 70px;
        margin-left: 3rem;
    }
    nav{
        height: 70px;
        width: 420px;
        background-color: $maincolor;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            bottom: 0; left: 0;
            border-bottom: 75px solid $black;
            border-right: 50px solid $maincolor;
            width: 0;
        }
        p{
            text-align: center;
            font-size: 30px;
        }
        ul{
            background-color: $maincolor;
            width: 370px;
            height: 100vh;
            float: right;
            padding-top: 70px;
            position: sticky;
            li{
                list-style: none;
                margin: 3rem;
                transition-duration: 0.5s;
                a{
                    color: $white;
                    text-decoration: none;
                    font-size: 40px;
                }
            }
        }
    }
} 
#checkbox1,
span.toggle {
    display: none;
}
span.toggle {
    position: absolute;
    right: 10%;
    top: 30%;
    color: white;
    z-index: 2;
    transform: translate(-5%, 5%);
    text-align: center;
    clear: both;
    display: block;
    font-size: 20px;
    cursor: pointer;
}

.toggle:hover {
    background-color: red;
}
.toggle:active {
    color: white;
}
.toggle:focus {
    color: white;
}
#checkbox1:checked + label .demo li {
    opacity: 1;
    visibility: visible;
    transition: all .7s linear;
}
#checkbox1:checked + label .demo{
    height: 300px;
}
/*Bestil knappen hvor der er link i fjerne stregen under teksten*/
a{
    text-decoration: none;
}
/*Trash billedet på forsiden*/
#trash-img{
    width: 1920px;
}
/*Trash overskrift på billedet - forsiden*/
#trash-overskrift{
    position: absolute;
    margin-top: 420px;
    font-size: $osize;
    color: $text-color-white;
    font-weight: bold;
}
/*Info omkring trash på billedet - forsiden*/
#trash-text{
    position: absolute;
    color: $text-color-white;
    margin-top: 470px;
    font-size: $usize;
}
/*Rykker teksten på billedet ind ad - forsiden*/
.trash-container{
    padding-left: 30px;
}
/*Bestil knappen på billedet - forsiden*/
#btn-bestil{
    background-color: $bg-color-button-red;
    width: 110px;
    height: 40px;
    border: $bg-color-button-red;
    color: $text-color-white;
    font-size: $usize;
    position: absolute;
    margin-top: 600px;
    cursor: pointer;
}
/*Aktuelle film*/
/*Overskrift aktuelle film - forsiden*/
#Aktuel-film{
    padding-left: 540px;
    margin-top: 10px;
}
/*Posters lavet med grid 4*auto og med mellemrum mellem posters - forsiden*/
.poster-forside{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    column-gap: 10px;
}
.posters-bestil{
    color: $text-color-white;
    font-size: $psize;
}
/*Højde få hver enkelt billede med 300px - forsiden*/
/*Trash-poster*/
#trash-poster{
    height: 300px;
    padding-top: 10px;
}
/*Bestil knap oven på trash poster*/
#trash-bestil{
    background-color: $bg-color-button-red;
    border: $bg-color-button-red;
    cursor: pointer;
    width: 70px;
    position: absolute;
    top: 1660px;
    left: 635px;
}
/*Citizenfour-poster*/
#citizenfour-poster{
    height: 300px;
    padding-top: 10px;
}
/*Citizenfour bestil knap*/
#citizenfour-bestil{
    background-color: $bg-color-button-red;
    border: $bg-color-button-red;
    cursor: pointer;
    width: 70px;
    position: absolute;
    top: 1660px;
    left: 840px;
}
/*Ida poster*/
#ida-poster{
    height: 320px;
}
/*Ida bestil knap*/
#ida-bestil{
    background-color: $bg-color-button-red;
    border: $bg-color-button-red;
    cursor: pointer;
    width: 70px;
    position: absolute;
   top: 1660px;
   left: 1080px;
}
/*Riot poster*/
#riot-poster{
    height: 300px;
    padding-top: 10px;
}
/*Riot bestil knap*/
#riot-bestil{
    background-color: $bg-color-button-red;
    border: $bg-color-button-red;
    cursor: pointer;
    width: 70px;
    position: absolute;
    top: 1660px;
    left: 1290px;
}
/*Overskriften under hver poster, har den samme class så de kan få en fed overskrift*/
.posters-overskrift{
    font-weight: bold;
}
/*Info teksten under hver poster, så de har samme størrelse*/
.posters-info{
    font-size: $psize;
}

/*Responsiv mobil*/
@media screen and (max-width: 600px) {
    /*Trash img*/
    #trash-img{
        width: 520px;
    }
    /*Overskrift trash på billedet*/
    #trash-overskrift{
        position: absolute;
        margin-top: 70px;
        font-size: 30px;
        color: $text-color-white;
        font-weight: bold;
    }
    /*info teststen omkring trash på billedet*/
    #trash-text{
        position: absolute;
        color: $text-color-white;
        margin-top: 110px;
        font-size: 16px;
    }
    /*Bestil knappen*/
    #btn-bestil{
        width: 95px; 
        height: 30px; 
        position: absolute;
        margin-top: 300px;
        cursor: pointer;
    }
    /*De 4 posters på forsiden i grid, men med 2*auto i stedet få de 4*auto*/
    .poster-forside{
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
        margin-left: 25px;
    }
    /*Overskriften aktuelle film*/
    #Aktuel-film{
         padding-left: 140px;
    }
    /*Trash bestil knappen som ligger under billedet i responsiv*/
    #trash-bestil{
        position: static;
    }
    /*Citixenfour bestil knappen, som ligger under billedet i responsiv*/
    #citizenfour-bestil{
        position: static;
    }
    /*Ida bestil knappen, som ligger under billedet i repsonsiv*/
    #ida-bestil{
        position: static;
    }
    /*Riot bestil knappen, som ligger under billedet i responsiv*/
    #riot-bestil{
        position: static;
        margin-top: 20px;
    }
}

/*Footer*/
/*Div omkring footer der indeler i grid*/
.foot {
    height: 220px;
    background-color: $main-color1;
    color: $main-color3;
    font-family: $font;
    display: grid;
    grid-template-columns: 20% 15% 22% 13% 30%;
    grid-template-rows: 20% 15% 5%;
    margin-top: 47%;
    padding-top: 1.5%;
    /*Overskrift footer*/
    .item1 {
        font-size: $osize;
        font-weight: $bweight;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        justify-self: end;
        align-self: center;
    }
    /*Adresse og tlf. Footer*/
    .item2 {
        font-size: $psize;
        font-weight: $lweight;
        font-style: normal;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: center;
        align-self: start;
    }
    /*Forestillinger og senior bio*/
    .item3 {
        font-size: $psize;
        font-weight: $lweight;
        font-style: normal;
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: center;
        align-self: start;
    }
    /*Info om bio*/
    .item4 {
        font-size: $psize;
        font-weight: $lweight;
        font-style: normal;
        grid-column-start: 5;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: center;
    }
}
/*Footer mediascreen*/
@media screen and (max-width: 600px) {
    .foot{
    height: 400px;
    background-color: $main-color1;
    color: $main-color3;
    font-family: $font;
    margin-top: 10%;
}
    /*Overskrift footer*/
    #media-item1 {
        font-size: $usize;
        margin-left: 50px;
    }
    /*Adresse og tlf. footer*/
    #media-item2 {
        font-size: $psize;
        font-weight: $lweight;
        font-style: normal;
        margin-left: 30px;
    }
    /*Forestillinger og senior bio*/
    #media-item3 {
        font-size: $psize;
        font-weight: $lweight;
        font-style: normal;
        margin-top: 20px;
    }
    /*Info om bio*/
    #media-item4 {
        font-size: $psize;
        font-weight: $lweight;
        font-style: normal;
        margin-top: 20px;
    }
}