@charset "UTF-8";
@import url("https://use.typekit.net/xdx6tqt.css");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "mentone";
}

a {
  text-decoration: none;
}

/*Trash billedet på forsiden*/
/*Trash overskrift på billedet - forsiden*/
#trash-overskrift {
  position: absolute;
  margin-top: 420px;
  font-size: 40px;
  color: #FEFEFE;
  font-weight: bold;
}

/*Info omkring trash på billedet - forsiden*/
#trash-text {
  position: absolute;
  color: #FEFEFE;
  margin-top: 470px;
  font-size: 20px;
}

/*Rykker teksten på billedet ind ad - forsiden*/
.trash-container {
  padding-left: 30px;
}

/*Bestil knappen på billedet - forsiden*/
#btn-bestil {
  background-color: #F71931;
  width: 110px;
  height: 40px;
  border: #F71931;
  color: #FEFEFE;
  font-size: 20px;
  position: absolute;
  margin-top: 600px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  /*Trash img*/
  #trash-img {
    width: 520px;
  }
  /*Overskrift trash på billedet*/
  #trash-overskrift {
    position: absolute;
    margin-top: 70px;
    font-size: 30px;
    color: #FEFEFE;
    font-weight: bold;
  }
  /*info teststen omkring trash på billedet*/
  #trash-text {
    position: absolute;
    color: #FEFEFE;
    margin-top: 110px;
    font-size: 16px;
  }
  /*Bestil knappen*/
  #btn-bestil {
    width: 95px;
    height: 30px;
    position: absolute;
    margin-top: 300px;
    cursor: pointer;
  }
  /*De 4 posters på forsiden i grid, men med 2*auto i stedet få de 4*auto*/
  .poster-forside {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    justify-items: center;
    margin-left: 25px;
  }
  /*Overskriften aktuelle film*/
  #Aktuel-film {
    padding-left: 140px;
  }
  /*Trash bestil knappen som ligger under billedet i responsiv*/
  #trash-bestil {
    position: static;
  }
  /*Citixenfour bestil knappen, som ligger under billedet i responsiv*/
  #citizenfour-bestil {
    position: static;
  }
  /*Ida bestil knappen, som ligger under billedet i repsonsiv*/
  #ida-bestil {
    position: static;
  }
  /*Riot bestil knappen, som ligger under billedet i responsiv*/
  #riot-bestil {
    position: static;
    margin-top: 20px;
  }
}

/*Footer*/
/*Div omkring footer der indeler i grid*/
.foot {
  height: 220px;
  background-color: #00121F;
  color: #FEFEFE;
  font-family: "mentone";
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 15% 22% 13% 30%;
      grid-template-columns: 20% 15% 22% 13% 30%;
  -ms-grid-rows: 20% 15% 5%;
      grid-template-rows: 20% 15% 5%;
  margin-top: 47%;
  padding-top: 1.5%;
  /*Overskrift footer*/
  /*Adresse og tlf. Footer*/
  /*Forestillinger og senior bio*/
  /*Info om bio*/
}

.foot .item1 {
  font-size: 40px;
  font-weight: Bold;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.foot .item2 {
  font-size: 16px;
  font-weight: "light";
  font-style: normal;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.foot .item3 {
  font-size: 16px;
  font-weight: "light";
  font-style: normal;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.foot .item4 {
  font-size: 16px;
  font-weight: "light";
  font-style: normal;
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

/*Footer mediascreen*/
@media screen and (max-width: 600px) {
  .foot {
    height: 400px;
    background-color: #00121F;
    color: #FEFEFE;
    font-family: "mentone";
    margin-top: 10%;
  }
  /*Overskrift footer*/
  #media-item1 {
    font-size: 20px;
    margin-left: 50px;
  }
  /*Adresse og tlf. footer*/
  #media-item2 {
    font-size: 16px;
    font-weight: "light";
    font-style: normal;
    margin-left: 30px;
  }
  /*Forestillinger og senior bio*/
  #media-item3 {
    font-size: 16px;
    font-weight: "light";
    font-style: normal;
    margin-top: 20px;
  }
  /*Info om bio*/
  #media-item4 {
    font-size: 16px;
    font-weight: "light";
    font-style: normal;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */